.banner__wrapper {
  margin: 100px auto;
  font-size: 14px;
  margin-left: 4vw;
}
/* .banner__title:hover,
.banner__subtitle_item:hover,
.name:hover {
  transition: 0.6s 0s ease-in-out;
} */
.title-hidden {
  transform: translateX(5vw);
  transition: all 0.6s 0s ease-out;
  opacity: 0;
}
.title-visible {
  transform: translateX(0vw);
  opacity: 1;
  transition: all 1s 0s ease-out;
}

.banner__title {
  margin-top: 0;
  font-size: 5vmax;
  font-family: urbanist;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 3vmin;
}

.banner__subtitle {
  font-family: "urbanist";
  font-size: 1vmax;
  font-weight: 700;
  margin-left: 3vmin;
}

.banner__subtitle_item {
  font-weight: 300;
  font-size: 2.5vmax;
  margin: 2vmin;
}
/* .bold-one {
  position: relative;
  top: 0.4vh;
  font-size: 3.2vw;
  font-weight: 800;
  margin: 0 0.35vw;
} */
.banner__subtitle_item:first-child {
  position: relative;
  /* left: 1.2vw; */
  /* margin: 20px; */
  /* margin-bottom: 0.6vh; */
}
.banner__subtitle_item:nth-child(3) {
  font-weight: 600;
  margin-top: 1vmin;
  font-size: 2.6vmax;
  position: relative;
  /* left: 0.8vw; */
}
.name {
  background: linear-gradient(
    43deg,
    rgba(102, 208, 210, 0.852000175070028) 3%,
    rgba(98, 187, 213, 1) 100%
  );
  position: relative;
  animation: rainbow 2s ease-in-out infinite;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 200;
  color: rgba(0, 0, 0, 1);
  font-size: 7vmax;
  z-index: 1;
  margin: 0;
  margin-top: 0.3em;
  transition: color 0.2s 0s ease-in-out;
}
.banner__subtitle_item,
.banner__title,
.name {
  transition: all 0.6s 0s linear;
}

/* @media screen and (max-width: 1280px) {
  .banner__title {
    font-size: calc(5vw + 0.5rem);
  }

  .banner__subtitle_item {
    margin: 18px;
    font-size: 3.2vw;
  }
  .banner__subtitle_item:nth-child(3) {
    font-size: 3.7vw;
    margin-top: 20px;
  }
  .name {
    margin-top: 0.8em;
    font-size: 4.8vw;
    margin-left: 2vw;
  }
} */
@media screen and (max-width: 720px) {
  .banner__wrapper {
    padding-left: 1em;
    width: 100vw;
    text-align: left;
    margin: 0;
  }
  .banner__title {
    font-size: 10vmin;
  }
  .banner__subtitle {
    margin: 6vmin auto;
  }
  .banner__subtitle_item {
    font-weight: 400;
    font-size: 4.4vw;
  }
  .banner__subtitle_item:nth-child(3) {
    font-size: 5.2vw;
    margin-top: 0.5em;
  }
  .name {
    font-size: 14vmin;
    margin-top: 5vmin;
  }
} /*
@media screen and (max-height: 500px) {
  .banner__wrapper {
    margin: 50px 0 50px 70px;
  }
  .banner__subtitle {
    margin-left: 1vw;
  }
  .banner__title {
    font-size: 5vw;
  }
  .banner__subtitle_item {
    font-size: 2.5vw;
  }
  .banner__subtitle_item:first-child {
    margin: 20px 0px 10px 20px;
  }
  .banner__subtitle_item:nth-child(3) {
    font-size: 3.3vw;
    margin-top: 20px;
  }
  .name {
    font-size: 4vw;
  } 
}*/
@media screen and (max-width: 600) {
  .banner__subtitle_item {
    margin: 10px;
  }
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
